:root {
  font-family: Karla, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light;
  background-color: #F5F7FB;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

main{
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: #F5F7FB;
}

.yellow-blob{
  position: fixed;
  width: 20em;
  height: 20em;
  right: 0;
  top: 0;
  user-select: none;
  -webkit-user-drag: none;
}

.blue-blob{
  position: fixed;
  width: 25em;
  height: 25em;
  left: 0;
  bottom: 0;
  user-select: none;
  -webkit-user-drag: none;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
